doctype html
html
  head
    title SPARQL Query Interface
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/clean.js')
    script(src='/javascripts/exec.js')
  body
    block content
